
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your appointment is booked
      </h1>
      <p class="govuk-body">
        Your appointment is on {{ data['appointment-time'] }} at your local passport office.
      </p>

      <h2 class="govuk-heading-m">
        Download and complete your application form
      </h2>
      <p class="govuk-body">
        You should receive an email with a link to download your passport application form.
      </p>
      <p class="govuk-body">
        Please print it, fill it in and bring it to your appointment.
      </p>
      <p class="govuk-body">
        What to bring to your appointment
      </p>
      <p class="govuk-body">
        You will need:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          your completed application form
        </li>
        <li>
          2 identical printed passport photos
        </li>
        <li>
          proof of your address (for example, a driving licence or utility bill)
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
