
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
{% endset%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get a passport in 1 week
      </h1>
      <p class="govuk-body">
        You can use this service to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
        renew an adult or child passport that has expired or that is about to expire
        </li>
        <li>
        change personal details on your passport (for example your name, place of birth or gender)
        </li>
        <li>
        replace a lost, stolen or damaged passport
        </li>
        <li>
        apply for a first child passport
        </li>
      </ul>

      <p class="govuk-body">
        If you’re applying for a first adult passport, or you do not need a passport urgently, use the non-urgent service.
      </p>
      <h2 class="govuk-heading-m">
        What you need to do
      </h2>

      <ol class="govuk-list govuk-list--number">
        <li>
          Book an appointment online.
        </li>
        <li>
          Print and fill in your application form.
        </li>
        <li>
          Gather the rest of your documents before your appointment.
        </li>
      </ol>

      <p class="govuk-body govuk-!-margin-top-6">
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Start now",
          href: "/choose-time",
          isStartButton: true
        }) }}
      </p>

    </div>
  </div>

{% endblock %}
